<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
    
    {% block head %}
    {% endblock %}
  </head>
  <body background="{{ url_for('static', filename='pattern.jpg') }}">
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
        </div>
       <div>
         <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">HOME</a></li>
          <li><a href="{{ url_for('signup') }}">SIGN-UP</a></li>
          <li><a href="{{ url_for('profiles') }}">PROFILES</a></li>
          <li><a href="profile">MY PROFILE</a></li>
          <li><a href="profile/update">UPDATE</a></li>
          <li><a href="{{ url_for('games') }}">GAMES</a></li>
          <li><a href="game/highscore">HIGHSCORE</a></li>
          <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
        </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <br /><br /><br /><br />
  {% block content %}{% endblock %}
  </body>
</html>
