{% extends "base.html" %}
{% block head %}
		<link rel="stylesheet" type="text/css" media="screen" href="/static/boilerplate/index.css">
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/static/boilerplate/icons/touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/boilerplate/icons/touch-icon-ipad-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/boilerplate/icons/touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/boilerplate/icons/touch-icon-ipad-retina-152x152.png">
{% endblock %}

{% block content %}
		<!-- Canvas placeholder -->
		<div id="screen"></div>

		<!-- melonJS Library -->
		<!-- build:js js/app.min.js -->
		<script type="text/javascript" src="/static/boilerplate/lib/melonJS-2.0.2.js"></script>

		<!-- Plugin(s) -->
		<script type="text/javascript" src="/static/boilerplate/lib/plugins/debug/debugPanel.js"></script>
		
		<!-- Game Scripts -->
		<script type="text/javascript" src="/static/boilerplate/js/game.js"></script>
		<script type="text/javascript" src="/static/boilerplate/js/resources.js"></script>

		<script type="text/javascript" src="/static/boilerplate/js/entities/entities.js"></script>
		<script type="text/javascript" src="/static/boilerplate/js/entities/HUD.js"></script>

		<script type="text/javascript" src="/static/boilerplate/js/screens/title.js"></script>
		<script type="text/javascript" src="/static/boilerplate/js/screens/play.js"></script>
		<!-- /build -->
		<!-- Bootstrap & Mobile optimization tricks -->
		<script type="text/javascript">
			window.onReady(function onReady() {
				game.onload();
				// Mobile browser hacks
				if (me.device.isMobile && !navigator.isCocoonJS) {
					// Prevent the webview from moving on a swipe
					window.document.addEventListener("touchmove", function (e) {
						e.preventDefault();
						window.scroll(0, 0);
						return false;
					}, false);
					// Scroll away mobile GUI
					(function () {
						window.scrollTo(0, 1);
						me.video.onresize(null);
					}).defer();
					me.event.subscribe(me.event.WINDOW_ONRESIZE, function (e) {
						window.scrollTo(0, 1);
					});
				}
			});
		</script>
{% endblock %}