{% extends "base.html" %}
{% block head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

  <script type="text/javascript">
  	function submit_comment(){
  		if(event.which == 13){
  			event.preventDefault();
  			$("form").submit();
  		}
  	}
  </script>
{% endblock %}
{% block content %}
	<div class="continer-fluid">
		<div class="row">
			<div class="col-sm-2" style="background-color:lavender;">
				.col-sm-3
			</div>
			
			<div class="col-sm-8" style="background-color:lavenderblush;">
				.col-sm-6

				<!--Card Code Start-->
				<div class="row">
			        <div class="col s12 m8">
			        	<div class="card blue-grey darken-1">
			            	<div class="card-content white-text">
			            		<span class="card-title">All White Party</span>
			              		<p>I am pleased to present A.Z. Preston cluster Sherwood Monor's All White Party.</p>
			            	</div>
			            	<div class="card-action">
			              		<a href="#">GOING</a>
			              		<a href="#">MAYBE</a>
			              		<a href="#">NOT</a><br>
			            	</div>
			            	<div class="card-action">
			            		<div class="input-field col s10">
			            			<form name='comment_id' method="post" action="">		            			
	          							<input name="comment" id="comment" type="text" class="validate">
	          							<label for="comment">Comment</label>
          							<form>
        						</div>
        						<div>
        							<script type="text/javascript">
        									var obj = document.getElementById('comment').value;
        									function ajax_data(){
											  	$.ajax({
											  		type: "POST",
											  		url: "{{ url_for('test') }}",
											  		data: JSON.stringify(obj, null, '\t'),
											  		contentType: 'application/json;charset=UTF-8',
											  		success: function(result){
											  			result = "worked"
											  			console.log(result);
													}
											  	});
										  	}
        							</script>
        						</div>
			            	</div>
			          	</div>
			        </div>
      			</div>
      			<!--Card Code Start-->

      			<div class="row">
			    	<div class="col s12 m8">
			        	<div class="card">
			            	<div class="card-image">
			              		<img src="../static/10959345_374217186096229_5014432387226926235_n.jpg">
			              		<span class="card-title">All White Party</span>
			            	</div>
			            	<div class="card-content">
			              		<p>I am pleased to present A.Z. Preston cluster Sherwood Monor's All White Party.</p>
			            	</div>
			            	<div class="card-action">
			              		<a href="#">GOING</a>
			              		<a href="#">MAYBE</a>
			              		<a href="#">NOT</a><br>
			            	</div>
			            	<div class="card-action">
			            		<div class="input-field col s10">
          							<input id="comment" type="text" class="validate">
          							<label for="comment">Comment</label>
        						</div>
			            	</div>
			          	</div>
			        </div>
      			</div>


			</div>

			<div class="col-sm-2" style="background-color:lavender;">
				.col-sm-3
			</div>
		</div>		
	</div>
{% endblock %}