{% extends "base.html" %}
{% block content %}

	<h1>User: {{ user.username }}</h1>
	{% if user.about_me %}
		<p>{{ user.about_me }}</p>
	{% endif %}

	{% if user.last_seen %}
		<p>
			<i>Last seen on: {{ user.last_seen }}</i>
		</p>
	{% endif %}

	<p>{{ user.followers.count() }} followers | 
		{% if user.id == g.user.id %}
			<a href="profile/update">Edit your profile</a>
		{% elif not g.user.is_following(user) %}
			<a href="{{ url_for('follow', username=user.username) }}">Follow</a>
		{% else %}
			<a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
		{% endif %}
	</p>
	<p>
		{% for post in posts %}
        	{{ post.author.username }}
    	{% endfor %}
	</p>
{% endblock %}