<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<h1>Did it work?</h1>
<button type="submit" onclick="runner()" style="width:90px; height: 40px;">Test</button>
<script type="text/javascript">
	function runner(){
		$.ajax({
			type: "POST",
			contentType: "application/json; charset=utf-8",
			url: "blog/add/ajax",
			data: JSON.stringify({title: 'hello', article: 'test'}),
			success: function(data){
				console.log(data.title);
				console.log(data.article);
			},
			dataType: "json"
		});
	}
</script>
</body>
</html>